#timer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 15px;
    font-weight: bold;
}

div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

#start-btn {
    background-color: purple;
    color: white;
    padding: 20px;
}

#back-btn {
    background-color: purple;
    color: white;
}

#clear-btn {
    background-color: purple;
    color: white;
}
.button-choice {
    background-color: purple;
    color: white;
}

#all-done {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}